.pic {
    border-radius: 50%;
    -webkit-box-shadow: 10px 10px 20px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 10px 10px 20px 10px rgba(0,0,0,0.1);
    box-shadow: 10px 10px 20px 10px rgba(0,0,0,0.1);
    max-width: 180px;
}